<header>
    <h1>Inicio</h1>
</header>

<main>
    <section>
        <h3>Productos</h3>
        {{!-- Uso de nomenclatura BEM (B de bloque, E de elemento y M de modificador)--}}
        <div class="products">
            <div class="products__list">
                <ul class="products__list__item" id="products-list"></ul>
            </div>
        </div>
    </section>
    
    <br>

    <button onclick="location.href='http://localhost:8080/cart';">Ir al carrito</button>
    
</main>


<script src="/socket.io/socket.io.js"></script>
<script src="/api/public/js/products.socket.js"></script>